.nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
}

.main {
    padding: 50px;
}

.main p {
    margin-top: 20px;
}

.burgerbtn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.burgerbtn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    background-color: black;
    height: 2px;
}

.burgerbtn span {
    position: absolute;
    top: 9px;
    width: 30px;
    background-color: black;
    height: 2px;
}

.burgerbtn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: black;
    height: 2px;
}
